#welcome.clearfix
	.sorry_tip.item
		= render "sorry"
	#logo.item.dancer
		17up
	#topic.item
		.desc
			%i.icon-magic
			以联想的方式学英语
		.title.dancer
			imagine english
	#login.item
		.desc
			%i.icon-user
			登录 或 注册
		.providers
			- Authorization::PROVIDERS.each do |x|
				= link_to member_omniauth_authorize_path(x.to_sym) do
					%span{:class => "icon-#{x}",:title => x}
	#app.item
		.desc
			%i.icon-apple
			ios App
		.title.dancer
			17word

	#contact.item
		.desc
			%i.icon-envelope
			Contact
		.content
			= link_to $config[:blog_host],target: "blank" do
				%i.icon-tumblr-sign
			= mail_to $config[:email] do
				%i.icon-envelope-alt
	#copyright.item
		.desc
			© Copyright
		= render("shared/copyright")
- content_for :footer do
	#init.hide(data-js="Welcome")
